{% extends "base/../base/base.html" %}

{% load cache %}

{% block content %}
<div class="Header-searchWrap">
  <div class="wrap">
    <div class="Header-categories">
      <div class="CategoriesButton">
        {% cache 86400 categories %}
        <div class="CategoriesButton-title">
          <div class="CategoriesButton-icon"><img src="assets/img/icons/allDep.svg" alt="allDep.svg" />
            </div><span class="CategoriesButton-text">Все категории</span>
              <div class="CategoriesButton-arrow">
          </div>
        </div>
       {% recursetree categories %}
        <div class="CategoriesButton-content">
          <div class="CategoriesButton-link"><a href="#">
              <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/<int:node.id>.svg" alt="<int:node.id>.svg" />
              </div><span class="CategoriesButton-text">{{ node.name }}</span>
            </a>
            {% if not node.is_leaf_node %}
              <a class="CategoriesButton-arrow" href="#"></a>
              <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/<int:node.id>.svg" alt="<int:node.id>.svg" />
                  </div><span class="CategoriesButton-text">{{ children }}</span>
                </a>
            {% endif %}
            {% for product in products %}
              <a class="CategoriesButton-arrow" href="#"></a>
                  <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="{% url '???store:products' pk=product.pk ???%}">
                  <span class="CategoriesButton-text">{{ product.name }}</span>
                </a>
                </div>
            {% endfor %}
          </div>
        </div>
        </div>
        {% endrecursetree %}
      </div>
    </div>
  </div>
</div>

{% endblock %}