{% extends 'authorization/account.html' %}

{% load static %}

{% load cache %}

{% block content123 %}
<div class="Section-content">
  <div class="Profile">
    <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}

      <div class="row">
        <div class="row-block">

          <div class="form-group">

            <label class="form-label" for="avatar">Аватар
            </label>

            <div class="Profile-avatar Profile-avatar_noimg">
              <label class="Profile-fileLabel" for="avatar"><img src="{% static 'assets/img/icons/upload.png' %}" alt="upload.png"/>Загрузить
                фото
              </label>
                {{ form.avatar }}

            </div>
          </div>
          <div class="form-group">

            <label class="form-label" for="name">ФИО
            </label>
          {{ form.name }}


          </div>
        </div>
        <div class="row-block">
{#          <div class="form-group">#}
{#            <label class="form-label" for="phone">Телефон#}
{#            </label>#}
{#            {{ form.phone }}#}
{##}
{#          </div>#}
          <div class="form-group">
            <label class="form-label" for="mail">E-mail
            </label>
             {{ form.e_mail }}

          </div>
          <div class="form-group">
            <label class="form-label" for="password">Пароль
            </label>
            {{ form.password }}

          </div>
          <div class="form-group">
            <label class="form-label" for="passwordReply">Подтверждение пароля
            </label>
            {{ form.password_2 }}

          </div>
          <div class="form-group">
            <div class="Profile-btn">
              <button class="btn btn_success" type="submit">Сохранить
              </button>
            </div>
            <div class="Profile-success">Профиль успешно сохранен
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
