.button-visible {
    padding: 13px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 27px;
}

.take-product {
    margin-right: 20px;
}

.add-product {
    margin-left: 20px;
}

.quantity-product {
    font-size: 23px;
}

.banner-img {
    height: 100%
}

.non-product {
    font-size: 25px;
    color: #bca6bb;
}

.form .form-input-error {
    border-color: #f26d7d;
}

input[type="email"] {
    background: transparent;
    color: rgb(0, 99, 209);
}

.seller {
    font-size:22px;
}

.not-sale {
    padding-right: 5px;
    font-size: 10px;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-empty-img {
    border-radius: 10px;
}